.footer-icon {
	font-size: 1.25rem;
	height: 1.25rem;
}

.min-dvh-100 {
	min-height: 100dvh;
}

.navbar-brand-logo {
	font-size: 1.5rem;
	height: 1.5rem;
}

.resize-none {
	resize: none;
}

::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background-color: #adb5bd;
}

::-webkit-scrollbar-thumb {
	background-color: #6c757d;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #5c636a;
}

::-webkit-scrollbar-thumb:active {
	background-color: #565e64;
}
